@font-face {
  font-family: victorMono;
  src: url(Victor_Mono/VictorMono-VariableFont_wght.ttf);
}
:root {
  font-family: victorMono;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0; 
  overflow: hidden;
  box-sizing: border-box;
}

.left {
  position: relative;
  text-align: center;
}

.right {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.left > #bg {
  width: 40vw;
  height: 100vh;
  object-fit: cover;
}

.left > #banner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100px;
  opacity: 0.6;
  padding: 0;
  background: black;
  gap: 20px;
}

.left > #banner > #odinText {
  font-size: 40px;
  color: white;
}

.left > #banner > #odin {
  width: 60px;
}

.left > .credits {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  margin-bottom: 10vh;
  color: black;  
}

.right > .upper {
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
  margin-left: 2vw;
  margin-right: 2vw;
  font-size: 20px;
  font-weight: 800;
  padding: 0; 
  gap: 30px;
}

.right > .upper > #ask {
  font-size: 30px;
}

.right > .lower {
  margin-top: 10vh;
  background-color: whitesmoke;
}

.right > .lower > .title {
  font-size: 30px;
}

.right > .lower > form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 10% auto;
  justify-content: space-around;
    
} 

.right > .lower > form > .leftForm,
.right > .lower > form > .rightForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  width: 200px;
  gap: 20px;
}

input {
  width: 200px;
  height: 30px;
  border-radius: 10px;
  font-size: 100%;
  font-family: victorMono;
  outline: none;
  box-shadow: none;
  border-color: black;
}

input:focus {
  border-color: fuchsia;
  background-color: lightgray;
}